@import "tailwindcss";

@theme {
  --font-sans: 'Nunito', sans-serif;
  --font-display: 'Fredoka', sans-serif;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6, .font-display {
  font-family: var(--font-display);
}
